/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */






/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}
