@media only screen and (min-width: 1290px) {

  nav {
    margin-left: 50px;
  }
  
  #menu section:nth-child(2n) {
    clear: none;
    margin-left: 2%;
  }
  
  #sidebar-bread {
    margin-top: 0;
  }

}