@media only screen and (min-width: 320px) {

  header {
    margin: 0;
  }

  header h1 {
    font-size: 2em;
  }

  #tagline {
    display: none;
  }

  #block-block-4 {
    margin-bottom: 1em;
    box-shadow: inset 0 0 9px rgba(0,0,0,0.25);
    border: 1px solid rgba(108,140,110,0.25);
  }

  #block-block-4 h2 {
    margin: .75em 0 .5em;
  }

  #block-block-4 section h3 {
    margin: 0;
    padding: 1em 0 .5em;
  }

  #menu section {
    margin: 0 .25em 2em;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  #menu h3 {
    background-color: #81CEDC;
    color: #fff;
    padding: .5em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

  #menu .item {
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 8px;
  }

  #about h2 {
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

}
