@media only screen and (min-width: 480px) {

  nav {
    margin-left: 5%
  }
  
  nav ul {
  }
  
  nav ul li {
  }
  
  nav ul li a {
    width: 28%;
    float: left;
    margin-bottom: 0;
    border: none;
    -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius-bottomright: 0;
       -moz-border-radius-bottomleft: 0;
            border-radius: 10px 10px 0 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }

}