@media only screen and (min-width: 640px) {

  header h1 {
    font-size: 4em;
    text-shadow: 4px 4px 0px #19191b, 5px 5px 0px #555;
  }
  
  header h1 a, 
  header h1 a:visited {
    color: #eee;
    text-decoration: none;
  }
  
  header h1 a:hover {
  }
  
  #block-block-4 section {
    width: 50%;
    float: left;
  }
  
  #menu h2 {
    display: none;
  }
  
  #menu h4 {
    border-bottom: 1px dotted #fefefe;
  }
  
  #menu section {
    float: left;
    width: 44%;
    margin: 0 2% 1em 2%;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  
  #sidebar-bread {
    float: left;
    display: block;
    margin: 0 2% 1em 2%;
  }
  
  #sidebar-bread img,
  #sidebar-soup img {
    width: 280px;
  }

}
