header {
  background: #e69a23 url(../img/webchef-logo.png) 10px top no-repeat;
}

#tagline {
  display: block;
}

#container {
}

header h1 {
  font-size: 5em;
  padding: 0.5em 0 0;
}

nav {
  width: 960px;
  margin: 0 0 0 50px;
}

#main {
  padding-top: 2em;
}

#block-block-4 {
  max-width: 420px;
  float: right;
  border-radius: 3px;
}

#sidebar-bread {
  margin-top: -160px;
}

#sidebar-bread,
#sidebar-soup {
  clear: right;
  float: right;
  display: block;
  margin-bottom: 10px;
  margin-right: 0;
}

#sidebar-bread img,
#sidebar-soup img {
  width: 365px;
}

#block-block-4 section {
  width: 100%;
  float: none;
  clear: both;
  padding-bottom: 1em;
}

#block-block-4 h3 {
  float: left;
  clear: left;
  width: 80px;
  padding: 0;
}

#block-block-4 ul,
#block-block-4 address {
  margin-left: 80px;
}

#menu section {
  width: 270px;
  margin: 0 .75em 2em;
}

#menu section:nth-child(2n) {
  clear: left;
  margin-left: 0;
}

#menu section h3 {
  margin-top: 0;
}

#about {
  clear: both;
}

/* This .csscolumns class is a Modernizr class, found in <html> */
.csscolumns #about p {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}