header {
  background-size: 69px;
}
header h1 {
  font-size: 5em;
  padding: 0.5em 0 0;
}

#page-wrapper {
  width: 960px;
  margin: 0 auto;
}

nav {
  width: 960px;
  margin: 0 auto;
}

div#main {
  padding-top: 2em;
}

div#block-block-4 {
  max-width: 420px;
  float: right;
  border-radius: 3px;
}
div#block-block-4 section {
  width: 100%;
  float: none;
  clear: both;
  padding-bottom: 1em;
}
div#block-block-4 section h3 {
  float: left;
  clear: left;
  width: 80px;
  padding: 0;
}
div#block-block-4 section ul,
div#block-block-4 section address {
  margin-left: 80px;
}

div#menu section {
  width: 270px;
  margin: 0 .75em 2em;
}
div#menu section:nth-child(2n) {
  clear: left;
}
div#menu section h3 {
  margin-top: 0;
}

div#block-block-3 {
  clear: both;
}
div#block-block-3 p {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
