/* ==|== Drupal styles ======================================================
   Author: Four Kitchens and YOU!
   ========================================================================== */

body {
  font-family: "Times New Roman", "Times", serif;
  line-height: 1.4em;
}

#page-wrapper {
  width: 100%;
}

a,
a:visited {
  color: #66B360;
}

/*
 * This is not a great idea unless you have a one-page website like our example!!!
 */
#page-title {
  display: none;
}

header h1 {
  line-height: 1em;
}

header h1 a,
header h1 a:visited {
  color: #555;
  text-decoration: none;
}

header h1 a:hover {
  color: #333;
}

nav a {
  display: block;
  margin: 6px;
  padding: 10px 4px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  border: 1px solid #555;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.6);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.6);
}

nav a:hover {
  color: #444;
}


#menu h4 {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  border-bottom: 1px dotted #555;
  margin: 2px 0;
  font-weight: normal;
  padding: .3em .7em;
}

#main {
  clear: both;
  padding: 1em;
  min-height: 300px;
  border-bottom: 1px #555 dotted;
  margin-bottom: 5px;
}

div#block-block-4 {
  background: #49593F;
  padding: 0 1em;
  color: #ABBF8F;
}
div#block-block-4 ul {
  margin: 0;
  padding: 0;
}
div#block-block-4 ul li {
  display: block;
}

div#block-block-3 {
  clear: both;
}

footer {
  padding: 1em;
  margin-bottom: 1em;
  background: #222;
  color: #eee;
  text-shadow: 1px 1px 1px #000;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#footer p#copyright {
  padding-left: 1em;
}
#footer a {
  color: #fff;
}
