/* ==|== primary styles =====================================================
   Author: Four Kitchens and YOU!
   ========================================================================== */

@font-face {
  font-family: 'CarringtonRegular';
  src: url('../fonts/Carrington-webfont.eot');
  src: url('../fonts/Carrington-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Carrington-webfont.woff') format('woff'),
       url('../fonts/Carrington-webfont.ttf') format('truetype'),
       url('../fonts/Carrington-webfont.svg#CarringtonRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Times New Roman", "Times", serif;
  line-height: 1.4em;
}

#container {
  width: 100%;
}

a {
  color: #66B360;
}

a:visited {
  color: #86c380;
}

h1 {
  font-family: 'CarringtonRegular';
}

header {
  text-align: center;
}

footer {
  padding: 1em;
  margin-bottom: 1em;
  background: #666;
  color: #eee;
  text-shadow: 1px 1px 1px #000;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

header h1 a {
  color: #eee;
  text-decoration: none;
}

header h1 a:hover {
  color: #fff;
}

nav a {
  display: block;
  margin: 6px;
  padding: 10px 4px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
}

nav a:hover {
  color: #444;
}

#main {
  clear: both;
  padding: 1em;
  min-height: 300px;
  border-bottom: 1px #555 dotted;
  margin-bottom: 5px;
}

#info {
  background: #cdc;
  padding: 0 1em;
}

#info ul {
  margin: 0;
  padding: 0;
}

#info ul li {
  display: block;
}

#about {
  clear: both;
}

footer p#copyright {
  padding-left: 1em;
}


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 320px) {

  header h1 {
    font-size: 2em;
  }

  #info {
    border-radius: 5px;
    margin-bottom: 1em;
    box-shadow: inset 0 0 9px rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,0.25);
  }

  #info h2 {
    margin: .75em 0 .5em;
  }

  #info section h3 {
    margin: 0;
    padding: 1em 0 .5em;
  }

  #menu section {
    margin: 0 .25em 2em;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  #menu h3 {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: .5em;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

  #menu .item {
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 8px;
  }

  #menu h4 {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px dotted #fefefe;
    margin: 2px 0;
    font-weight: normal;
    padding: .3em .7em;
  }
  
  #about h2 {
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

} /* (min-width: 320px) */

@media only screen and (min-width: 480px) {

nav a {
  margin: 0;
  padding: 0;
  background: none;
  border-radius: none;
  color: #333;
}

/*
  nav a:hover {
    color: #000;
    background: #c6f3c0;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
*/

} /* (min-width: 480px) */

@media only screen and (min-width: 640px) {

html {
  -webkit-box-shadow: inset 0px 0px 55px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 0px 55px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 55px 0px rgba(255, 255, 255, 0.2);
}

body {
  background: #19191b;
  color: #ccc;
}

  #info section {
    width: 50%;
    float: left;
  }

  #menu h2 {
    display: none;
  }
  
  #menu section {
    float: left;
    width: 44%;
    margin: 0 2% 1em 2%;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  
  nav {
    margin: .25em 2px;
    border-top: 1px solid #ccc;
  }
  
  nav ul {
    margin: 0;
    padding: 0;

    display: -webkit-box;
    -webkit-box-orient: horizontal;

    display: -moz-box;
    -moz-box-orient: horizontal;

    display: box;
    box-orient: horizontal;
  }
  
  nav ul li {
    list-style: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    border-bottom: 1px dotted #555;
    border-right: 1px dotted #555;
  }
  
  nav ul li:nth-child(1) {
    border-left: 1px dotted #555;
  }
  
  nav a {
    font-weight: bold;
    display: block;
    color: #6C8C6E;
    text-align: center;
    padding: .75em 0;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: #6C8C6E;
  }
  
  nav ul li:hover a {
    color: #eee;
    text-shadow: 1px 1px 1px #49593F;
  }

} /* (min-width: 768px) */

@media only screen and (min-width: 960px) {

  #container {
    width: 960px;
    margin: 0 auto;
  }

  header {
  }

  header h1 {
  }

  nav {
    width: 960px;
    margin: 0 auto;
  }

  #main {
    padding-top: 2em;
    margin-top: 120px;
  }

  #info {
    max-width: 420px;
    float: right;
    border-radius: 3px;
  }
  
  #info section {
    width: 100%;
    float: none;
    clear: both;
    padding-bottom: 1em;
  }
  
  #info section h3 {
    float: left;
    clear: left;
    width: 80px;
    padding: 0;
  }
  
  #info section ul,
  #info section address {
    margin-left: 80px;
  }

  #menu section {
    width: 270px;
    margin: 0 .75em 2em;
  }
  
  #menu section:nth-child(2n) {
    clear: left;
  }
  
  #menu section h3 {
    margin-top: 0;
  }

  #about {
    clear: both;
  }
  
  #about p {
    width: 46%;
    margin: 0 2% 1em;
    float: left;
  }
  
  #about p:nth-of-type(2n+1) {
    clear: left;
  }

} /* (min-width: 960px) */


@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
