/* ==|== primary styles =====================================================
   Author: ☺
   ========================================================================== */

html, body {
  padding: 0;
}

html {
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 55px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 55px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 55px 0px rgba(0, 0, 0, 0.2);
}

#container {
  width: 960px;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #333;
  background: url('webchef-logo.png') top center no-repeat;
  color: #ccc;
  position: relative;
  min-height: 170px;
}

header h1 {
  padding: 2em 0 0 0;
  font-family: "Times New Roman", "Times", serif;
  text-align: left;
  color: #666;
  font-weight: normal;
}

nav {
  margin: .25em 2px;
  border-top: 1px solid #ccc;
}

nav ul {
  margin: 0;
  padding: 0;
  
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

nav ul li {
  list-style: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  border-bottom: 1px dotted #555;
  border-right: 1px dotted #555;
}

nav ul li:nth-child(1) {
  border-left: 1px dotted #555;
}

nav a {
  font-weight: bold;
  display: block;
  color: #6C8C6E;
  text-align: center;
  padding: .75em 0;
  text-decoration: none;
}

nav ul li:hover {
  background: #6C8C6E;
}

nav ul li:hover a {
  color: #eee;
  text-shadow: 1px 1px 1px #49593F;
}

#main {
  clear: both;
  padding: 1em;
  min-height: 300px;
  border-bottom: 1px #555 dotted;
  margin-bottom: 5px;
}

footer {
  display: block;
  padding: 1em;
  background: #666;
  color: #eee;
  text-shadow: 1px 1px 1px #000;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
