/**
 * These styles will always apply (unless overridden by a later rule, of course).
 **/

body {
  font-family: helvetica, sans-serif;
  line-height: 1.4em;
}

#container {
  width: 100%;
}

a, 
a:visited {
  color: #66B360;
}

h2, h3, h4 {
  font-family: "bryant-web";
}

header {
  padding-top: 20%;
  background-color: #e69a23;
  background-image: url(../img/webchef-cafe-logo-sm.png);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: 70%;
}

/**
 * Always choose SVG over raster if possible
 * .svg class will override media queries later in document
 **/
.svg header {
  background-image: url(../img/webchef-cafe-logo.svg);
}

header h1 {
  visibility: hidden;
}

header h1 a, 
header h1 a:visited {
  color: #555;
  text-decoration: none;
}

/* this is ok for our one-pager, but not in a normal Drupal scenario */
#page-title,
div.tabs {
  display: none;
}

#tagline {
  float: right;
  margin: -90px 20px 0;
  font-size: 24px;
  font-family: Georgia;
  color: #FFF;
}

nav a {
  display: block;
  margin: 6px;
  padding: 10px 4px;
  background: #fff;
  text-align: center;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "bryant-web";
  font-weight: 700;
  font-size: 1.2em;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.4), inset 0 -3px 9px 0 rgba(0,0,0,0.25);
     -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.4), inset 0 -3px 9px 0 rgba(0,0,0,0.25);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.4), inset 0 -3px 9px 0 rgba(0,0,0,0.25);
}

nav a:hover {
  color: inherit;
}

#menu h3 {
  border-radius: 5px 5px 0 0;
}

#menu h4 {
  background-color: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f0ec), color-stop(100%, #e5e0dc));
  background-image: -webkit-linear-gradient(#f2f0ec, #e5e0dc);
  background-image: -moz-linear-gradient(#f2f0ec, #e5e0dc);
  background-image: -o-linear-gradient(#f2f0ec, #e5e0dc);
  background-image: -ms-linear-gradient(#f2f0ec, #e5e0dc);
  background-image: linear-gradient(#f2f0ec, #e5e0dc);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(255,255,255, 1);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin: 0 -8px;
  padding: .3em .7em;
}

#main {
  clear: both;
  padding: 1em;
  min-height: 300px;
  border-bottom: 1px #555 dotted;
  margin-bottom: 5px;
}

#block-block-4 {
  background: #66B360;
  padding: 0 1em;
  color: #FFF;
}

#block-block-4 ul {
  margin: 0;
  padding: 0;
}

#block-block-4 ul li {
  display: block;
}

#about {
  clear: both;
}

.drinks h3,
.entrees h3,
.desserts h3 {
  font-size: 18px;
  text-decoration: uppercase;
}

div#footer {
  padding: 1em;
  margin-bottom: 1em;
  background: #222;
  color: #eee;
  text-shadow: 1px 1px 1px #000;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius-bottomright: 3px;
     -moz-border-radius-bottomleft: 3px;
          border-radius: 0 0 3px 3px;
}

div#footer p#copyright {
  padding-left: 1em;
}
