/* ==|== primary styles =====================================================
   Author: Four Kitchens and YOU!
   ========================================================================== */

html, body {
  padding: 0;
}

html {
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 55px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 55px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 55px 0px rgba(0, 0, 0, 0.2);
}

#container {
  width: 960px;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #333;
  background: url('webchef-logo.png') top center no-repeat;
  color: #ccc;
  position: relative;
}

header h1 {
  padding: 1em 0 0.25em 0;
  font-family: "Times New Roman", "Times", serif;
  text-align: left;
  color: #666;
  font-weight: normal;
}

header h1::before {
  content: '';
  display: inline-block;
  width: 42px;
  height: 34px;
  margin-right: 5px;
  margin-bottom: -5px;
  background: url(../../css/webchef-logo.png) -45px -116px no-repeat;
}

h2 {
  font-size: 2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em; 
}

nav {
  margin: .25em 2px;
  border-top: 1px solid #ccc;
}

nav ul {
  margin: 0;
  padding: 0;
  
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

nav ul li {
  list-style: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  border-bottom: 1px dotted #555;
  border-right: 1px dotted #555;
}

nav ul li:nth-child(1) {
  border-left: 1px dotted #555;
}

nav a {
  font-weight: bold;
  display: block;
  color: #6C8C6E;
  text-align: center;
  padding: .75em 0;
  text-decoration: none;
}

nav ul li:hover {
  background: #6c8c6e;
}

nav ul li:hover a {
  color: #eee;
  text-shadow: 1px 1px 1px #49593f;
}

div.bio-info {
  width: 300px;
  float: right;
  background-color: #Abbf8f;
  padding: 1em;
  margin-left: 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.bio-info:hover {
  background-color: #fefefe;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

img.photo {
  width: 280px;
  background-color: #fefefe;
  padding: 10px;
}

div.bio-info dl {}

div.bio-info dl dt {
  float: left;
  clear: left;
  width: 30%;
  text-align: right;
  margin-right: 1em;
  font-weight: 700;
}

div.bio-info dl dd {
  float: left;
  margin: 0;
  padding: 0;
}

#main {
  clear: both;
  padding: 1em;
  min-height: 300px;
  border-bottom: 1px #555 dotted;
  margin-bottom: 5px;
}

#main p,
#main blockquote {
  overflow: hidden;
  line-height: 1.5em;
}

#main blockquote {
  border-left: 5px solid #aaa;
  padding-left: 20px;
}

img.thumbnail {
  width: 100px;
}
img.floatleft {
  float: left;
  margin: 0 20px 20px 0;
}
img.floatright {
  float: right;
  margin: 0 0 20px 20px;
}

footer {
  display: block;
  padding: 1em;
  background: #666;
  color: #eee;
  text-shadow: 1px 1px 1px #000;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}
