/* ==|== Drupal styles ======================================================
   Author: Four Kitchens and YOU!
   ========================================================================== */

@font-face {
  font-family: 'CarringtonRegular';
  src: url('../fonts/Carrington-webfont.eot');
  src: url('../fonts/Carrington-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Carrington-webfont.woff') format('woff'),
       url('../fonts/Carrington-webfont.ttf') format('truetype'),
       url('../fonts/Carrington-webfont.svg#CarringtonRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {}
body {}

#page-wrapper {}

a,
a:visited {}

h1 {}

#page-title {}

header {}
header h1 {}
header h1 a,
header h1 a:visited {}
header h1 a:hover {}

nav ul li a {}
nav ul li a:hover {}

#menu h4 {}

#main {}

div#block-block-4 {}
div#block-block-4 ul {}
div#block-block-4 ul li {}

div#block-block-3 {}

footer {}

#footer p#copyright {}
#footer a {}


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 320px) {

  header {}
  header h1 {}

  #header #name-and-slogan {}

  div#block-block-4 {}
  div#block-block-4 h2 {}
  div#block-block-4 section h3 {}

  div#menu section {}
  div#menu h3 {}
  div#menu .item {}

  div#block-block-3 h2 {}

} /* (min-width: 320px) */

@media only screen and (min-width: 480px) {

  nav {}
  nav ul {}
  nav ul li {}
  nav ul li:nth-child(1) {}
  nav ul li a {}

} /* (min-width: 480px) */

@media only screen and (min-width: 640px) {

  html {}
  body {}

  header {}
  header h1 {}
  header h1 a,
  header h1 a:visited {}
  header h1 a:hover {}

  div#block-block-4 section {}

  div#menu h2 {}
  div#menu h4 {}
  div#menu section {}

  nav {}
  nav ul li {}
  nav ul li:nth-child(1) {}
  nav ul li a {}
  nav ul li a:visited {}
  nav ul li:hover {}
  nav ul li:hover a {}

} /* (min-width: 640px) */

@media only screen and (min-width: 960px) {

  header {}
  header h1 {}

  #page-wrapper {}

  nav {}

  div#main {}

  div#block-block-4 {}
  div#block-block-4 section {}
  div#block-block-4 section h3 {}
  div#block-block-4 section ul,
  div#block-block-4 section address {}

  div#menu section {}
  div#menu section:nth-child(2n) {}
  div#menu section h3 {}

  div#block-block-3 {}
  div#block-block-3 p {}

} /* (min-width: 960px) */




/* an easter egg if we have some time */

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
